<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>@ViewBag.Title</title>

  <script src="~/svg/js/fontawesome-all.js"></script>
  <script src="~/svg/js/fa-v4-shims.js"></script>

  <script src="~/js/jquery-3.2.1.min.js"></script>
  <script src="~/js/bootstrap.min.js"></script>
  <script src="~/js/bootstrap-select.min.js"></script>

  <link href="~/Css/bootstrap.min.css" rel="stylesheet" />
  <link href="~/Css/custom.css" rel="stylesheet" />
  <link href="~/Css/project.css" rel="stylesheet" />
</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand">Dotnet Core Vue Webpack</a>
            </div>
            <div class="navbar-collapse collapse">
              <ul class="nav navbar-nav">
                <li><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
                <li><a href="#/todos">Todos</a></li>
                <li><a href="api/todos">Simple Todos API</a></li>
                <li><a href="api/todos/faketodos">Todos API</a></li>
              </ul>
            </div>
        </div>
    </nav>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; 2018 - DotNetCoreMvcHosted_VueWebpackPOC</p>
        </footer>
    </div>

    @RenderSection("Scripts", required: false)
</body>
</html>
